<div class="right menu">
    <li class="item">
        <div id="fun-item-operations" class="ui mini buttons">
            <button class="ui basic blue button try-it">
                    <i class="play icon"></i>
                    Run
                  </button>
            <button class="ui basic green button update">
                    <i class="save icon"></i>
                    Save
                  </button>
            <button class="ui basic red button delete">
                    <i class="remove icon"></i>
                    Delete
                  </button>
            <a class="ui basic teal button" href="apis/external/<%- folder %>/<%- name %>" target="_blank">
                <i class="external icon"></i> External
            </a>
        </div>
    </li>
</div>