<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>this is title</h1>
        <%for(var i=funList.length-1; i>=0; i--) {%>
            <div>
                <h2><%= funList[i].folder %></h2>
                <%for(var j=funList[i].itemList.length-1; j>=0; j--) {%>
                    <li><a href='editor/<%= funList[i].itemList[j].path %>'><%= funList[i].itemList[j].name %></a></li>
                <%}%>
            </div>
    		    
    	  <%}%>
    </body>
</html>
