<!DOCTYPE html>
<html>
    <head>
        <title>FunWithCSS</title>
        <link rel='stylesheet' href='/stylesheets/base.css' />
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>
    <body>
        <div class='container'>
          <input id='funName' type='hidden' value=''/>
          <input id='funFolder' type='hidden' value=''/>

          <div class='side-bar'>
              <div class='tool-bar'>
                  <button onclick='tryIt()'>Try it</button>
                  <button onclick='openFunItemAddModal()'>Add</button>
                  <button onclick='onFunItemUpdateClick()'>Update</button>
                  <button onclick='onFunItemRemoveClick()'>Remove</button>

              </div>

              <div class='fun-group-list'>
                <%for(var i=funList.length-1; i>=0; i--) {%>
                  <div class='fun-group'>
                    <div class='fun-group-header'><%= funList[i].folder %></div>
                    <%for(var j=funList[i].itemList.length-1; j>=0; j--) {%>
                        <span class='fun-group-item'>
                          <input type='radio' name='funItem' value='<%= funList[i].itemList[j].path %>' onclick='onFunItemClick(this)' ><%= funList[i].itemList[j].name %></input>
                        </span>
                    <%}%>
                  </div>
                <%}%>
              </div>
          </div>
          <div class='main-space'>
              <textarea id='editor'>empty</textarea>
        
              <iframe id='viewer'></iframe>
          </div>
        </div>

        <div id='fun-item-modal'>
          <div class='overlay'>
          </div>
          <div class='fun-item-modal-dialog'>
            <form action=''>
              <fieldset>
                <div id='error-msg' class='tc f20 fb'></div>
                <legend>Fun item information:</legend>
                Folder:<br>
                <input id='funFolderInModal' type='text' name='funFolder'></input><br/>
                Item:<br>
                <input id='funItemInModal' type='text' name='funItem'></input><br/><br/>
                <input type='button' value='Submit' onclick='onFunItemAddClick()'></input>
                <input type='button' value='Cancel' onclick='closeFunItemAddModal()'></input>
              </fieldset>
            </form>

          </div>
        </div>
    </body>
    <script type='text/javascript' src='/javascripts/index.js'></script>
</html>
