textarea {
  resize: none;
}


#editor {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
  height: 50% !important;
  width: 70%;
  background: black;
  color: white;
  border: 0px;
}

.operation-panel {
  position: fixed !important;
  top: 70% !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 50% !important;
  height: 30% !important;
  width: 50%;
  background: #99A099;
  color: white;
  padding: 2px;
}

#viewer {
  position: fixed !important;
  top: 50% !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  height: 50% !important;
  width: 100%;
  border: 2px solid black;
  padding: 5px;
}

#toolbar {
  position: fixed;
  top: 2px;
  right: 51%;
  opacity: 0.5;
  z-index: 100;
}

