textarea {
  resize: none;
}

#editor {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 50% !important;
  height: 100% !important;
  width: 50%;
  background: black;
  color: white;
  margin-right: 2px;
}

#viewer {
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 50% !important;
  height: 100% !important;
  width: 50%;
  border: 0px;
}

#toolbar {
  position: fixed;
  top: 2px;
  right: 51%;
  opacity: 0.5;
  z-index: 100;
}

