html {
  background: #CC6464;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 800px;
}

#side-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 96%;
  width: 24%;
  margin: 1% 0px 1% 1%;
}

#main-space {
  position: absolute;
  top: 0px;
  left: 25%;
  height: 96%;
  width: 73%;
  margin: 1%;
}

#viewer {
  width: 100%;
  height: 50%;
  border: 0px;
  background: white;
  overflow: auto;
  float: left;
}

.tool-bar {
  padding: 1%;
  height: 5%;
}

#fun-group-list {
	padding: 1%;
  overflow: auto;
  height: 93%;
  margin: 1% 0px 1px 0px;
  background: white;
}

.fun-group {
  margin-bottom: 25px;
  padding-left: 10px;
  border-left: 4px solid #1b809e;
  background: #fff;
  color: #383737;
}

.fun-group-header {
	border-bottom: 2px solid #827777;
	font-weight: bold;
}

.fun-group-item {
	display: block;
	height: 20px;
  margin: 1px;
}

.fun-group-item span {
  line-height: 20px;
}

.fun-group-item .fun-group-item-operations {
  display: none;
}

.fun-group-item img {
  height: 16px;
  padding-left: 2px;
  vertical-align: middle;
}


#fun-item-modal .overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align:center;
  z-index: 200;
  background-color: black;
  opacity:0.7;
}

#fun-item-modal .fun-item-modal-dialog {
  position: relative;
  z-index: 210;
  width:600px;
  margin: 200px auto;
  background-color: white;
  border:1px solid #000;
  padding:15px;
}


#error-msg {
  color: red;
}

fieldset {
  display: block;
  padding: 10px;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  text-align: left;
  line-height: 1.6;
}


.active-fun-item {
  border-left: 5px solid black;
}


#notification-area {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.notification {
  background: #B2F0B2;
  width: 280px;
  height: 40px;
  line-height: 40px;
  z-index: 220;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

#dragbar {
  position: absolute;
  z-index: 190;
}

#dragbar img {
  width: 20px;
  height: 20px;
}

#shield {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 190;
}