body {
  overflow: hidden;
}

.ui.top.attached.menu {
  height: 5%;
}

#menu-brand li.item{
  cursor: pointer;
  color: #4183C4;
}

#app-container {
    width: 100%;
    height: 100%;
}

#app-content {
  height: 95%;
  margin: 0px;
  padding: 0px;
  min-width: 1000px;
  min-height: 600px;
  overflow: auto;
}

.fun-group-grid {
  padding: 20px;
}

.fun-group-grid-item {
  width: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  margin-bottom: 40px;
  background-color: #f9f9f9;
}

.fun-group-grid-item .content .header {
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  color: #4183C4;
}

.fun-group-grid-item .content .fun-item-list {
  padding: 0px 8px;
}

.fun-group-grid-item #open-modal-btn {
  height: 24px;
  line-height: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #e1e1e1;
  margin-top: 8px;
  text-align: center;
  cursor: pointer;
  background-color: #65c07a;
  color: #fff;
}

.fun-group-item {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #747474;
}

#side-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}

#main-space {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #009688;
}

#viewer {
  height: 100%;
  width: 50%;
  border: 0px;
  background: white;
}

#error-msg {
  display: none;
}

#notification-area {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 220;
}

.notification {
  background: #B2F0B2;
  border: 2px solid orange;
  width: 280px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

#dragbar {
  position: absolute;
  z-index: 4;
}

#dragbar img {
  width: 20px;
  height: 20px;
}

#shield {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 190;
}

