body {
  overflow: hidden;
}

.ui.top.attached.menu {
  height: 5%;
}

#menu-brand li.item{
  cursor: pointer;
  color: #4183C4;
}

#app-container {
    width: 100%;
    height: 100%;
}

#app-content {
  height: 95%;
  margin: 0px;
  padding: 0px;
  min-width: 1000px;
  min-height: 600px;
  overflow: auto;
}

#fun-group-list{
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#fun-group-list .card {
    background: aliceblue;
    margin: 12x;
}

.fun-group-item {
  cursor: pointer;
}

#side-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}

#main-space {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #009688;
}

#viewer {
  height: 50%;
  width: 100%;
  border: 0px;
  background: white;
}

#error-msg {
  display: none;
}

#notification-area {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 220;
}

.notification {
  background: #B2F0B2;
  border: 2px solid orange;
  width: 280px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

#dragbar {
  position: absolute;
  z-index: 190;
}

#dragbar img {
  width: 20px;
  height: 20px;
}

#shield {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 190;
}